{{#paper-item class='md-3-line goal'}}
  <div class='md-list-item-text'>
    <p>{{goal.description}}</p>
  </div>
  <div class='delete' {{action "delete"}}>
    {{paper-icon "delete" size=18}}
  </div>
{{/paper-item}}
{{paper-divider}}
