@import 'ember-paper';

.main-content {
  padding-top: 5rem;
}

.select-goal {
  text-align: center;
  margin-top: 0.5rem;
}

.add-pomodoro-unit {
  margin-top: 1.5rem !important;
}

.delete {
  margin-top: 2rem;
  margin-right: 0rem;
  margin-left: 2rem;
  cursor: pointer;
}
