{{#paper-content class="md-whiteframe-z1"}}
  {{#paper-list}}
    {{#paper-item class='md-3-line'}}
      <div class='md-list-item-text select-goal'>
        <h3>Select a goal</h3>
      </div>
    {{/paper-item}}
  {{/paper-list}}
{{/paper-content}}
