  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-button iconButton=true}}
        {{paper-icon "menu"}}
      {{/paper-button}}
      {{#link-to 'goals'}}
        <h2>Pomodorify</h2>
      {{/link-to}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
<div class='main-content'>
  {{outlet}}
</div>
