<div class='flex-offset-5 main-content'>
  <div class='layout-column layout-align-center-start'>
    <div class='layout-row'>
      {{outlet}}
    </div>
    <div class='layout-row'>
      {{#paper-content class="md-whiteframe-z1"}}
        {{#paper-list}}
          {{#each model as |goal|}}
            {{#paper-item class='md-3-line goal'}}
              <div class='md-list-item-text'>
                <p>{{goal.description}}</p>
              </div>
            {{/paper-item}}
            {{paper-divider}}
          {{/each}}
        {{/paper-list}}
      {{/paper-content}}
    </div>
  </div>
</div>
