<div class='flex-offset-5 main-content'>
  <div class='layout-row'>
    {{#paper-form as |form|}}
        {{form.input id='goal' required=true label="Goal" maxlength=100 passThru=(hash rows=5) value=goal onChange=(action (mut goal))}}
      {{#paper-button id='create' disabled=form.isInvalid onClick="createGoal"}}
        Add
      {{/paper-button}}
    {{/paper-form}}
  </div>
  <div class='layout-row layout-align-start-center'>
    {{#paper-content class="md-whiteframe-z5"}}
      {{#paper-list}}
        {{#each model as |g|}}
          {{list-item goal=g delete="deleteGoal"}}
        {{/each}}
      {{/paper-list}}
    {{/paper-content}}
  </div>
</div>
